body{
    background-image: url('jobimage.jpg');
    background-repeat: no repeat;
    background-size: cover;
}

h1{
    line-height:1.5;
}

.navbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2.5rem;
    z-index: 1;
    color:var(--whiteColor);
    background: transparent;
}

.navbar-logo > a {
    letter-spacing: 2.5;
    text-decoration: none;
    color: var(--whiteColor);
}

.navbar-menu > a {
    color: #000;
    text-decoration: none;

}

.menu-toggle {
    display: none;
}

 .menu-toggle .bar { 
    width: 15px;
    height: 2px;
    margin: 3px auto;
    transition: all 0.3 ease-in-out;
    background-color: var(--whiteColor);
    cursor: pointer;
}
h1{
    font-size: 40px;
    color: #0b00e0;
    text-align: center;
}
h2{
    font-size: 30px;
    color:black;
    text-align: center;
}
.card{
    background-color: white;
    margin: 0 auto;
    float:none;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 600px;   
    height: 300px;
    border-radius: 5px;
 
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba()0,0,0,0.2;

}
.container{
    
    padding: 2px 16px;
}

.button input{
    
    margin-top: -30px;
    height:20%;
    width: 20%;
    border-start-start-radius: 20%;
    border-end-end-radius: 20%;
    color: rgb(55, 2, 2);
    background-color: #fadb4c;
    padding:2px;
    cursor: pointer;
}